@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:#22254b;
    --secondary-color: #373b69;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    padding:1rem;
    display:flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.first_floor{
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile{
    height: 600px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.profile .description{
    padding-top: 20px;
    color: white;
    text-align: center;
}

.title{
    color: white;
    text-align: center;
    padding-top: 10px;
}

.graph{
    height: 500px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.dog{
    height: 400px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.dog img{
    width: 70%;
	height: 70%;
}

.weather{
    height: 400px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.weather .description{
    color: white;
    text-align: center;
    padding-top: 50px;
}

.joke{
    height: 200px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.music{
    height: 600px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}